<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用信息，用于计算依赖关系 -->
    <dubbo:application name="02-consumer-zk"/>

    <!--连接zk注册中心(单机zk)，准备消费服务-->
    <dubbo:registry address="zookeeper://172.19.163.95:2181"/>

    <!--连接zk注册中心(zk集群)，准备提供服务-->
    <!--<dubbo:registry address="zookeeper://osZK1:2181?backup=osZK2:2181,osZK3:2181"/>-->

    <!--从注册中心获取到指定服务，服务名称为接口名-->
    <dubbo:reference id="someService"
                     interface="com.bjpower.ISomeService"/>
</beans>